/* static/style.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #a0bce9;
}

.login-container {
    max-width: 400px;
    margin: 100px auto;
    margin-top: 30%;
    padding: 20px;
    background-color: #CFD8E6;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    border: 2px solid black;
}

.form-group {
    margin-bottom: 15px;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid black;
    font-size: 15px;
}

button {
    background-color: #308fa4;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid black;
}

button:hover {
    background-color: #174c58;
}

.dashboard {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
    border: 2px solid black;
}

.btn {
    text-decoration: none;
    color: white;
    background-color: #c52a3a;
    padding: 8px 15px;
    border-radius: 4px;
    border: 1px solid black;
}

.btn:hover {
    background-color: #861823;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
    background-color: white;
    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.2);
    border: 1px solid black;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border: 1px solid black;
}

th {
    background-color: #a6c5ab;
    font-weight: bold;
}

td {
    background-color: #e3efe5;
}

.alert {
    color: #721c24;
    background-color: #f8d7da;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
}

#teacher-courses-title {
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 1.5);
}
.course-section {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    border: 2px solid black;
}

.full {
    color: #dc3545;
    font-weight: bold;
}

h2 {
    color: #333;
    margin-top: 30px;
    margin-bottom: 20px;
}

input[type="number"] {
    width: 80px;
    margin-right: 10px;
}

.grade-form {
    display: flex;
    align-items: center;
    gap: 10px;
}

.grade-form button {
    padding: 5px 10px;
    font-size: 14px;
}